@font-face {
    font-family: 'Codec Pro';
    src: url('./fonts/CodecPro-Regular.eot');
    src: url('./fonts/CodecPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CodecPro-Regular.woff2') format('woff2'),
        url('./fonts/CodecPro-Regular.woff') format('woff'),
        url('./fonts/CodecPro-Regular.ttf') format('truetype'),
        url('./fonts/CodecPro-Regular.svg#CodecPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body, h1, h2, h3, p {
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    color: white;
    font-family: 'Codec Pro';
    overflow: hidden;
}

.section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.section--start {
    background-image: url(./img/woman.jpg);
    background-size: cover;
}

.main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 8vw;
    transform: translateX(-100vw);
}

@keyframes main {
    from {
        transform: translateX(-100vw)
    }
    to {
        transform: translateX(0)
    }
}

.animated .main {
    animation: main 1s linear;
    animation-fill-mode: forwards;
}

img {
    max-width: 100%;
}

.main__logo  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__logo img {
    height: 8vh;
}

.main__logo > div:first-child {
    margin-right: 3vh;
}

.main__header {
    margin-top: 4vh;
}

.main__header img {
    height: 30vh;
}

h1, p {
    margin-top: 4vh;
}

h1 {
    font-size: 6vh;
    text-align: center;
}

p {
    font-size: 3vh;
    text-align: center;
    width: 80%;
}

.button {
    background: linear-gradient(180deg, #B021BC 0%, #7C0F95 100%);
    border-radius: 50px;
    padding: 2vh 4vw;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-size: 3vh;
    transition: all 0.4s linear;
}

.button:hover {
    filter: saturate(1.6);
    transition: all 0.4s linear;
}

.main .button {
    margin-top: 4vh;
} 

@media (max-width: 800px) {
    .main {
        width: 90vw;
        margin: 0 auto;
    }
    .section--start {
        background-image: none;
    }
    .section--start::after {
        content: '';
        display: block;
        width: 100vw;
        height: 40vh;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url(./img/woman.jpg);
        background-size: 100% auto;
        background-position-x: right;
        background-position-y: bottom;
        background-repeat: no-repeat;
    }
    .main__header img {
        height: 12vh;
    }
    .main__logo img {
        height: 4vh;
    }
    .main h1 {
        font-size: 4vh;
    }
    .main p {
        font-size: 2vh;
    }
    .main .button {
        font-size: 2vh;
        padding: 2vh 4vw;
    }
    .finish {
        overflow-y: auto;
    }
}

.main-block__header {
    display: flex;
    align-items: center;
    padding: 4vh 4vw;
}

.main-block__header > div:last-child {
    margin-left: auto;
}

.main-block__header > div:first-child {
    margin-right: 4vw;
}

.main-block__header img {
    height: 10vh;
}

.main-block__header__logo2 img {
    height: 6vh;
}

.main-block__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10vh;
}

.main-block__main h2 {
    font-size: 4vh;
    text-align: center;
}

.main-block__main p{
    font-size: 2.4vh;
    text-align: center;
    width: 40vw;
    margin-top: 2vh;
}

.main-block__carts {
    width: 80vw;
    margin: 4vh auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vw;
}

.main-block__carts > div {
    cursor: pointer;
    transition: 0.2s all linear;
    position: relative;
}

.main-block__carts > div:hover {
    transform: scale(1.04);
    transition: 0.2s all linear;
}

@keyframes c1 {
    from {
        left: -100vw;
    }
    to {
        left: 0
    }
} 

@keyframes c2 {
    from {
        left: 100vw;
    }
    to {
        left: 0;
    }
} 

.main-block__carts > div:first-child {
    left: -100vw;
}

.main-block__carts > div:nth-child(2) {
    left: -100vw;
}

.main-block__carts > div:nth-child(3) {
    left: 100vw;
}

.main-block__carts > div:last-child {
   left: 100vw;
}

.animated .main-block__carts > div:first-child {
    animation: c1 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

.animated .main-block__carts > div:nth-child(2) {
    animation: c1 1s linear;
    
    animation-fill-mode: forwards;
}

.animated .main-block__carts > div:nth-child(3) {
    animation: c2 1s linear;
    
    animation-fill-mode: forwards;
}

.animated .main-block__carts > div:last-child {
    animation: c2 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

.share, .ad {
    font-size: 2vh;
    text-align: center;
    color: #701A87;
}

.ad {
    width: 70%;
    margin: 2vh auto 0;
}

.again {
    display: flex;
    align-items: center;
    justify-content: center;
}

.again .button {
    font-size: 2vh;
    padding: 2vh 2vw;
}

@media (max-width: 800px) {
    .main-block__main p{
        width: 80vw;
    }

    .main-block__main {
        margin-top: 0vh;
    }

    .main-block__carts {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-block__header img {
        height: 4vh;
    }
    
    .main-block__header__logo2 img {
        height: 2vh;
    }
}

.result {
    display: flex;
    width: 80%;
    margin: 4vh auto;
    background: linear-gradient(0deg, rgba(244, 242, 230, 1), rgba(244, 242, 230, 1), rgba(255, 255, 255, 1));
    background-blend-mode: screen, normal;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #1B0336;
    font-size: 1.2vh;
    box-sizing: border-box;
    padding: 2vh 2vw;
    transform: translateY(100vh);
    position: relative;
}

.left {
    flex-basis: 30%;
    min-width: 30%;
    margin-right: 0vw;
}

.right h2 {
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #701A87;
    font-size: 3vh;
}

.right {
    box-sizing: border-box;
    padding: 4vh 2vw;
    background-image: url(./img/bg2.png);
    background-size: 100% 100%;
}

.right p {
    font-size: 1.8vh;
    width: 100%;
    margin: 2vh auto;
}

.social {
    display: flex;
    margin: 2vh auto;
    width: fit-content;
    width: -moz-fit-content;
}

.social a {
    text-decoration: none;
    background: #661F86;
    border-radius: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
    padding: 1.5vh;
    width: 4.6vh;
    height: 4.6vh;
    transition: 0.4s all linear;
    box-sizing: border-box;
}

.social img {
    height: 2.2vh;
}

.social a:hover {
    transition: 0.3s all linear;
    filter: saturate(2)
}

.social--main {
    flex-direction: column;
    position: absolute;
    left: 4vw;
    bottom: 2vh;
    z-index: 2;
}

.social--main > a {
    margin-bottom: 2vh;
}

@keyframes finish {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0);
    }
}

.animated .result {
    animation: finish 1s linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@media (max-width: 800px) {
    .result {
        background: none;
        flex-direction: column;
        border-radius: unset;
        box-shadow: none;
    }
    .left {
        flex-basis: 80%;
        width: 80%;
        margin: 0 auto;
        position: relative;
        top: -4vh;
    }
    .right {
        background: linear-gradient(0deg, rgba(244, 242, 230, 1), rgba(244, 242, 230, 1), rgba(255, 255, 255, 1));
        background-blend-mode: screen, normal;
        box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 5vh;
        width: 80vw;
        border-radius: 15px;
        color: #1B0336;
        font-size: 0.8vh;
    }

    .right p {
        font-size: 2vh;
    }

    .right .social a {
        width: 4vh;
        height: 4vh;
        padding: 1vh;
    }

    .right .social img {
        height: 2vh;
    }

    .right .ad {
        width: 90%;
    }
}

#loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 1000;
    height: 100%;
    color: white;
    font-size: 30px;
    background-color: #010202;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  